* {
    box-sizing: border-box;
    
}

 body{
   background: radial-gradient(ellipse at top, #910c48, transparent),
               radial-gradient(ellipse at bottom,#cf5915, transparent),
               radial-gradient(ellipse at left,#9708ea, transparent),
               radial-gradient(ellipse at right,#1537cfe4, transparent);

               font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
               
               
} 

h1{
    text-align: center;
color:  rgb(245, 238, 240);
border-style: double;
border-width: 5px;
border-radius: 8px;

}
h2{
    text-align: center;
color:  rgb(245, 238, 240);

}
p{
    font-weight: bold;
    text-decoration: underline;
    
}

button{
background-color: rgb(135, 33, 72);
color: azure;
border: none;
font-size: 16px;
border-radius: 8px;

}
 button:hover{
    background-color: #d67910;
 }

#score {
    font-size: 100px;
 }